obj
bin
Areayperimetro/.vs/Areayperimetro/v15/.suo
Areayperimetro/.vs/Areayperimetro/v15/Server/sqlite3/db.lock
Areayperimetro/.vs/Areayperimetro/v15/Server/sqlite3/storage.ide
Areayperimetro/Areayperimetro.sln
Areayperimetro/Areayperimetro/App.config
Areayperimetro/Areayperimetro/Areayperimetro.csproj
Areayperimetro/Areayperimetro/Properties/AssemblyInfo.cs
